@mixin box-shadow($color,$a,$b,$c,$d) {
    -webkit-box-shadow: $a $b $c $d $color;
    -moz-box-shadow: $a $b $c $d $color;
    box-shadow: $a $b $c $d $color;
}
@mixin flexBox(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;  
}
@mixin flexItem(){
	-webkit-box-flex: 1; 
	-moz-box-flex: 1; 
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
@mixin flexwrap(){
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}