
.main-container{
		.search-container{
			position: absolute;
		    z-index: 1;
		    width: 100%;
		    form{
		        width: 100%;
			    box-sizing: border-box;
			    @include flexBox();
			    padding: 0px 10px;
			    @include box-shadow(transparent,0,0px,0px,0px);
			    div{
			        padding-bottom: 15px;
				    @include flexItem();
				    background: white;
				    margin-left: 10px;
				    margin-right: 10px;
				    padding: 10px 20px 15px 20px;
				    @include box-shadow($border_input_color,1px,1px,5px,1px);
			    }
		    }
		}
	}