@font-face {
  font-family: "soin_sans_pro";
  src:url("./../fonts/Soin.Sans.Pro.Roman-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "enchant_travel";
  src:url("./../fonts/enchanting_icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

.icon {
    font-family: 'enchant_travel' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'anticon';
  src: url('./../fonts/font_r5u29ls31bgldi.eot');
  /* IE9*/
  src: url('./../fonts/font_r5u29ls31bgldi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./../fonts/font_r5u29ls31bgldi.woff') format('woff'), /* chrome、firefox */ url('./../fonts/font_r5u29ls31bgldi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('./../fonts/font_r5u29ls31bgldi.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.chat_icon{
	font-size: 26px;
    color: #36312a;
    margin-top: 10px;
    margin-left: 2px;
    &::before{
      content: "\e91b";
    }
}
.home_icon{
    font-size: 16px;
    color: white;
	    &::before{
	        content: "\e932";
	    }
	}
.search_icon{
    font-size: 16px;
    color: white;
	&::before{
	content: "\e954";
	}
}	

.bubble_icon{
    font-size: 34px;
    color: #36312a;
    position: relative;
    top: 5px;
	&::before{
	    content: "\e957";
	}
}