
 
$background_color: #4a4a4a;
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");
body {
    font-family: 'Source Sans Pro';
}


@mixin colorbutton($colorbut) {
    width: 0.5em;
    height: 0.5em;
    background: $colorbut;
    float: left;
    border-radius: 0.5em;
    margin-top: 0.45em;
}




.prom_detail{
	width:100%;
	background:$background_color;
	opacity:0.98;
    display: table;
    padding-bottom: 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
	.details_main{
                   max-width: 75%;
                   margin: 0 auto;
                   .view_type{
                         display:table;
                         width:100%;
                   ul{
                           padding: 20px 0px;
						   display: table;
						   width: 100%;
						   border-bottom: 1px solid #746f6f;
                      li{
                        color: #9c9c9c;
                        list-style: none;
                        float: left;
                        font-size: 1.9em;
                        padding: 10px 15px;
                        font-weight: 300;                       
                        }
                      li:first-child{
                        border-right: 1px solid #746f6f;
                        padding-left: 0px;
                         }
                      li.active{
                        color:white;
                         }
                      li:last-child{
                          float: right;
                          padding-right: 0px;
                          @media screen and (max-width:580px) {
                                  float:left;
                                  padding-left: 0px;
              }
                      }   

                           .hisbutton{
                                  background: #505050;
                                  border: 2px solid #746f6f;
                                  border-radius: 2px;
                                  padding: 5px 10px;
                                  text-align: center;
                                  font-size: 0.7em;
                      }


               } 

               }
               .details_container
               {
               display:table;
                         width:100%;
               .banner_container{
                        width:60%;
                        float:left;
                        
                        @media screen and (max-width:768px) {
                                width:100%;
                                display:table;
							}
                     .banner_basicinfo{
                         display: table;
                         width: 100%;
                             .rank{
                             		    padding: 5px 10px;
									    background: #272727;
									    margin-right: 15px;
									    margin-top: 10px;
									    font-size: 1.2em;
									    color: white;
									    display: table;
									    float:left;
                              }
                              .info{
                                     float:left;
                                     padding: 5px 10px;
                                     .head{
                                         color: white;
									     font-weight: 600;
									     font-size: 1.2em;
                                 }
                                     .categ{
                                         color: #d3d2d2;
    									 font-size: 0.9em;
                                 }
                          	  }
                          	  .open_icon{
                                         float: right;
   										 padding: 20px 0px 0px 0px;
                          	  }
                 		}
                 		.banner_image{
                 						max-width:100%;
                 						height: auto;
   										padding: 15px 0px;
   										position: relative;
                 						img{
                 							max-width:inherit;
                          					height:auto;
                          					display: block;
										    margin-left: auto;
										    margin-right: auto;
                 						}
				                 	}
           			}
           	    .banner_details{
	                    width:40%;
	                    float:left;
	                    @media screen and (max-width:768px) {
                                width:100%;
                                display:table;
							}
	                    .each_detail{
	                              display: table;
                                  width: 100%;
                                  padding: 10px 20px 10px 20px;
	                    .left{
	                    width:30%;
	                    float:left;
	                    color:#9c9c9c;
	                        font-size: 1.3em;
	                       
	                     }
	                     .right{
                               float: left;
							   width: 60%;
							   color: #d3d2d2;
							   font-size: 1em;
							   padding-left: 5px;
							   padding-top: 2px;
							   a{
							   color: #d3d2d2;
							   font-size: 1em;
							   text-decoration:none;
							}
							.circle_green { 
							@include colorbutton(#66c770); 
						   }
						   	.circle_red { 
							@include colorbutton(#e71546); 
						   }
 							.date{
 							    float: left;
   								padding-left: 10px;
 						}
	                     }
	                    }
           			}

           }
            }
}