.modal-dialog{
	    max-width: 80%;
    margin: 0px auto;
    height:100%;
    .modal-content{
    border: 0px;
    height:100%;
    background: transparent;
    .modal-body{
        display: flex;
    align-items: center;
    background: transparent;
        margin: 0 auto;
        width:100%;
    button{
    font-size: 18px;
    position: absolute;
    top: 25px;
    background: black;
    border: 1px solid #fff;
    border-radius: 25px;
    opacity: 1;
    outline: 0px;
    width: 25px;
    height: 25px;
    right: 15px;
    color: white;
    padding: 2px 6px 5px 5px;
    z-index: 10;
    }
    }
    }
    .modal-wrapper-content{
    width:100%;
    margin:0 auto;
    img{
    width: 100%;
    max-height: 500px;
    }
    }
}
@media screen and (max-width: 768px){
			.modal-dialog{
	    max-width: 100%;
			}
			}