.modal-dialog{
	    max-width: 80%;
    margin: 0px auto;
    height:100%;
    .modal-content{
    border: 0px;
    height:100%;
    background: transparent;
    .modal-body{
        display: flex;
    align-items: center;
    background: transparent;
    button{
    font-size: 20px;
    position: absolute;
    top: 25px;
    background: white;
    border-radius: 25px;
    opacity: 1;
    width: 25px;
    height: 25px;
    right: 15px;
    padding: 0px 5px 5px 5px;
    }
    }
    }
}
@media screen and (max-width: 768px){
			.modal-dialog{
	    max-width: 100%;
			}
			}