
.country-container{
    display:inline-block;
    padding: 20px 0px;
	.each_country_card{
		    position: relative;
		    display: inline-block;
		    float: left;
		    padding: 20px;
		    box-sizing: border-box;
            width: 25%;
            cursor:pointer;   
		.inner{
		    position: relative;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		    transition: 0.3s;
		    &:hover {
		    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		} 
		img{
		    position: relative;
		    width: 100%;
		    height: 150px;
		    background:lightgrey;
		}
		div{
		    position: relative;
		    padding: 10px 10px;
		    max-width: 100%;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		&.country{
		text-transform:uppercase;
		color:"#182233";
		font-weight:bold;
		}
		}
		}
	}
}