.maps{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 75px;
}
.redmarker{

    img{
    width:30px;
    height:30px
    }
}
.searchlatlong{
	    padding: 20px 0px;
    text-align: center;
    input[type="text"]{
        position: relative;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid lightgray;
    box-shadow: 0 0 0 0 #fff;
    margin: 0px 10px;
    display: inline-block;
    max-width: 75px;
    }
    input[type="button"],.button{
    position: relative;
    padding: 9px 5px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #7b7be0;
    box-shadow: 0 0 0 0 #fff;
    margin: 0px 5px;
    text-transform: uppercase;
    color: #7b7be0;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    &:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    }
}
.fa-arrow-left:before {
    content: "\f060";
    top: -1px;
    position: relative;
}
.fa-search:before {
    content: "\f002";
    top: -1px;
    position: relative;
}